

				<!--********************************************************************************-->
				<!-- Log Processor                                                                  -->
				<!--********************************************************************************-->

				<log message="${body.log.message}" />