

	<!--********************************************************************************-->
	<!-- HTTP Consumer Blueprint                                                        -->
	<!--********************************************************************************-->

## remove trailing slash from the contextPath
#set ($contextPath = ${body.http.contextPath})
#if ($contextPath.indexOf('/') == 0)
#set ($contextPath = $contextPath.substring(1))
#end

	<reference id="httpService" interface="org.osgi.service.http.HttpService" />

	<bean id="camelServlet" class="org.apache.camel.component.servlet.CamelHttpTransportServlet"/>

	<bean class="org.apache.camel.component.servlet.osgi.OsgiServletRegisterer"
	      init-method="register"
	      destroy-method="unregister">
		<property name="servletName" value="${exchange.properties.serviceId}" />
		<property name="alias" value="/$contextPath" />
		<property name="httpService" ref="httpService" />
		<property name="servlet" ref="camelServlet" />
	</bean>
