

                <!--********************************************************************************-->
                <!-- CSV Splitter Producer (w/o streaming)                                          -->
                <!--********************************************************************************-->

                <convertBodyTo type="java.lang.String" />

                <setProperty name="endOfLineOne">
                    <simple resultType="java.lang.Integer">${body.indexOf("{{line.separator}}")}</simple>
                </setProperty>

                <!-- save the CSV header to an exchange property -->
                <setProperty name="header">
                    <simple resultType="java.lang.String">#[[${body.substring(1, ${exchangeProperty.endOfLineOne})}]]#</simple>
                </setProperty>

                <!-- split the CSV into multiple chunks -->
                <split>
                    <tokenize token="{{line.separator}}" group="${body.csvSplitter.splitSize}" skipFirst="true" />

                    <!-- add CSV header -->
                    <transform>
                        <simple>#[[${exchangeProperty.header}]]#\n#[[${body}]]#</simple>
                    </transform>

#if($body.csvSplitter.endpoint.size() > 1)
                    <!-- add the body to the claim check stack for later use -->
                    <claimCheck operation="Set" key="inBody" />
#end
#foreach($endpoint in $body.csvSplitter.endpoint)
#if($endpoint.type == 'jms')
                    <!-- send the chunk to the JMS endpoint -->
                    <inOnly uri="jms:${endpoint.jms.type}:${endpoint.jms.destinationName}?connectionFactory=activemqProducerCsvSplitter${exchange.properties.CamelSplitIndex}" />
#elseif($endpoint.type == 'direct-vm')
                    <!-- send the chunk to direct -->
                    <toD uri="direct-vm:${endpoint.someName}"/>
#end
#if($foreach.hasNext)
                    <!-- get the body from the claim check stack -->
                    <claimCheck operation="Get" key="inBody" />
#end
#end
                </split>