

				<!--********************************************************************************-->
				<!-- Kafka Producer                                                                 -->
				<!--********************************************************************************-->

#foreach($mapEntry in $body.kafka.headers.entrySet())#set($headerName = $mapEntry.key.replace("_", "."))
				<setHeader name="$headerName"><constant>$mapEntry.value</constant></setHeader>
#end

				<toD uri="kafka://${body.kafka.topic}?#foreach($mapEntry in $body.kafka.options.entrySet())$mapEntry.key=$mapEntry.value#if($foreach.hasNext)&amp;#end#end" />