## remove trailing slash from the resourceUri
#set ($url = ${body.salesforceApexCall.url})
#if ($url.indexOf('/') == 0)
    #set ($url = $url.substring(1))
#end
                <!--********************************************************************************-->
                <!-- Salesforce Producer                                                            -->
                <!--********************************************************************************-->

                <toD uri="salesforce:apexCall?rawPayload=true&amp;notFoundBehaviour=EXCEPTION#if($body.salesforceApexCall.url)&amp;apexUrl=/$url#end#if($body.salesforceApexCall.method)&amp;apexMethod=${body.salesforceApexCall.method}#end#if($body.salesforceApexCall.apiVersion)&amp;apiVersion=${body.salesforceApexCall.apiVersion}#end"/>