

				<!--********************************************************************************-->
				<!-- Direct Producer                                                                -->
				<!--********************************************************************************-->

				<inOnly uri="direct-vm:${body.directvm.someName}" />