#foreach($when in $body.choice.when)
#foreach($endpoint in $when.endpoint)
#if($endpoint.type == 'jms')
#set($jms = true)
#end
#end
#end
#foreach($endpoint in $body.choice.otherwise)
#if($endpoint.type == 'jms')
#set($jms = true)
#end
#end
#if($jms)
    <!--********************************************************************************-->
    <!-- Choice Producer Blueprint                                                      -->
    <!--********************************************************************************-->

    <!-- set reference to the ActiveMQ JMS connection factory -->
    <reference id="activemqProducerChoice${exchange.properties.CamelSplitIndex}" interface="javax.jms.ConnectionFactory" />
#end